button,
.btn-theme {
    border-radius: 3px;
    background: $brand-primary;
    border: 0;
    &,
    &:hover{
        color: #fff;
    }
    &:hover{
        background: darken( $brand-primary, 10% );
    }
}

.btn-circle{
    border-radius: 30px;
}


input[type=submit],
input[type=button],
input[type=reset],
button[type=submit]{
    padding: 15px 33px;
    background: #29c2e1;
    border: 0;
    text-transform: uppercase;
    &:hover {
        background: darken(#29c2e1, 25%);
        color: #fff;
    }
    &:focus{
        outline: 0;
    }
}

.btn-highlight,
pre,
.more-link{
    background: $brand-highlight;
    color: #fff;
}

.btn-highlight,
.more-link{
    &:hover,
    &:visited{
        background: darken($brand-highlight, 25%);
        color: #fff;
    }
    &:focus{
        outline: 0;
        color: #fff;
    }
    &:visited {
        text-decoration: underline;
    }
}

.highlight-alt {
    color: $brand-highlight;
}

.more-link{
    @extend .btn-circle;
    display: table;
    margin-top: 30px;
}

