// Normal forms
input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
select,
textarea{
    border: 0;
    background: #e3eef0;
    padding: 15px 20px;
    text-transform: uppercase;
    &:focus {
        outline: 0;
    }
}


// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}
