// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #f7941d;
$brand-highlight:       #29c2e1;
$base-color:            #55595f;
$gray-color:            #93a1a7;
$darker-color:          darken($base-color, 25%);
